interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://martinheinz.dev/blog/42
  response:
    body:
      string: "<!DOCTYPE html><html lang=en><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible
        content=\"IE=edge\"><meta name=viewport content=\"width=device-width,initial-scale=1\"><link
        rel=\"shortcut icon\" type=image/png href=https://i.imgur.com/IUf6PIg.png><script
        src=\"https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML\"
        async></script><title>Martin Heinz - Personal Website & Blog</title><meta
        name=\u201Ddescription\u201D content=\"Welcome to my personal website and
        blog, here you can find some information\n    about me, contact, social media
        links as well as my blog posts.\"><meta name=author content=\"Martin Heinz\"><meta
        property=og:image content=https://res.cloudinary.com/martinheinz/image/upload/v1567247069/blog/og_image_s4v0wv.png><meta
        property=og:type content=image/png><meta property=og[...]
[...]
