interactions:
- request:
    body: ''
    headers:
    method: GET
    uri: https://medium.com/poka-techblog/5-different-ways-to-backup-your-postgresql-database-using-python-3f06cea4f51
  response:
    content: "<!doctype html><html lang=\"en\"><head><script defer src=\"https://cdn.optimizely.com/js/16180790160.js\"></script><title
      data-rh=\"true\">5 different ways to backup your PostgreSQL database using Python
      | by Simon-Pierre Gingras | poka-techblog | Medium</title><meta data-rh=\"true\"
      charset=\"utf-8\"/><meta data-rh=\"true\" name=\"viewport\" content=\"width=device-width,minimum-scale=1,initial-scale=1\"/><meta
      data-rh=\"true\" name=\"theme-color\" content=\"#000000\"/><meta data-rh=\"true\"
      name=\"twitter:app:name:iphone\" content=\"Medium\"/><meta data-rh=\"true\"
      name=\"twitter:app:id:iphone\" content=\"828256236\"/><meta data-rh=\"true\"
      property=\"al:ios:app_name\" content=\"Medium\"/><meta data-rh=\"true\" property=\"al:io[...]
