{% extends 'base.html' %} {% block body %}
<nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
   
    <form id="searchForm" class="d-flex">
      <input
        class="form-control me-2"
        type="search"
        placeholder="Search"
        id="find"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </div>
</nav>

<div class="container">
 
  <div class="mt-5 row results-bookmarks">
    <div id="results" class="card-group"></div>
  </div>
</div>

<script>
  var formEl = document.getElementById("searchForm");

  formEl.addEventListener("submit", function (event) {
    var searchKey = document.getElementById("find");
    console.log(searchKey.value);
    // 1. Setup the request
    // ================================
    // 1.1 Headers

    // ================================
    var url = "http://localhost:8000/api/bookmarks/" + searchKey.value;
    event.preventDefault();
    fetchBookmarks(url);
  });

  function fetchBookmarks(url) {
    // Set-up headers
    var headers = new Headers();
    headers.set("Accept", "application/json");

    const fetchOptions = {
      method: "GET",
      headers,
    };

    var responsePromise = fetch(url, fetchOptions);
    responsePromise
      // 3.1 Convert the response into JSON-JS object.
      .then(function (response) {
        return response.json();
      })
      // 3.2 Do something with the JSON data
      .then(function (jsonData) {
        var bookmarks = "";
        jsonData.forEach((el) => {
          var postData = [`"${el.url}"`, el.id];
          bookmarks += `
          <div class="col-md-3 py-2"
              <div class="card card-body border-success h-100">
                  <h6 class="card-title">${el.title}</h6>
                  <img src="https://www.docker.com/favicon.ico" alt="" height="100px">
                  <a onclick=sendData(${postData}) href="#">Visit</a>
              </div>
              </div>
          `;
          //<a class="BTN" onclick=doAction("${el.url}") href="#">Visit</a>
        });
        document.getElementById("results").innerHTML = bookmarks;
      });
  }

  async function updateBookmarkVisitTime(id) {
    // Default options are marked with *
    let now = new Date().toJSON();

    let url = "http://localhost:8000/api/bookmarks/" + id;
    const response = await fetch(url, {
      method: "PATCH", // *GET, POST, PUT, DELETE, etc.
      mode: "cors", // no-cors, *cors, same-origin
      cache: "no-cache", // *default, no-cache, reload, force-cache, only-if-cached
      credentials: "same-origin", // include, *same-origin, omit
      headers: {
        "Content-Type": "application/json",
      },
      redirect: "follow", // manual, *follow, error
      referrerPolicy: "no-referrer", // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
      body: JSON.stringify({ last_time_visited: now }), // body data type must match "Content-Type" header
    });
  }

  async function sendData(url, id) {
    await updateBookmarkVisitTime(id);
    window.open(url, "_blank");
  }

  // ======================================
  // At first load
  fetchBookmarks("http://localhost:8000/api/bookmarks");
</script>
{% endblock body %}
